.hero-section {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin-top: 68px;
    position: relative;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;

    .image-content {
        width: 100%;
        height: 100%;

        >div {
            width: 100%;
            height: 100vh;
            background: url('/assets/images/1000303331.jpg');
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            filter: saturate(100%);
        }
    }

    .inner-content {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Keyframes for glowing effect */
@keyframes fadeInUp {

    0%,
    100% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(100px);
    }
}

/* Keyframes for glowing effect */
@keyframes glow {

    0%,
    100% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(1.7);
    }
}